.flex {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.box {
    text-align: center;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    /* transform: rotateY(150deg);
    transform: rotateX(-1deg); */
    /* backface-visibility: hidden; */

}


#container {
    text-align: center;
    width: 90%;
    background-image: radial-gradient(circle 321px at 8.3% 75.7%, rgba(209, 247, 241, 1) 0%, rgba(249, 213, 213, 1) 81%);
    margin: 12px auto;

}



input {
    background-color: cadetblue;
    color: white;
    border: none;
    padding: 12px;
    text-align: center;
    font-size: 24px;
    border-radius: 6px;
    max-width: 100%;
    margin-top: 24px;
    transition: 1s;
}



#text3 {

    border-radius: 6px;
    padding: 5px;
    font-size: 40px;
    margin: 1rem auto;
    width: 80%;

}





.p1 {
    font-size: x-large;
    font-family: 標楷體;
    color: red;
}

.p2 {
    font-size: x-large;
    font-family: 標楷體;
    color: blue;
}

.vs {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 30px;
    padding: 0px 10px;
    width: auto;


}


@media (max-width:400px) {
    #container {

        width: 80%;
    }


}